body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.container {
    width: 80%;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.h2 {
    color: white;
}
.h3{
    color: black;

}

form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form label {
    margin-top: 10px;
    font-weight: bold;
}

form input, form textarea {
    padding: 10px;
    margin: 5px;
    border: 1px solid #040404;
    border-radius: 5px;
    width: 97%;
}

form button {
    padding: 10px;
    background-color: #5d785e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 1.3rem;
}

form button:hover {
    background-color: #45a049;
}

#product-list {
    margin-top: 20px;
}

.product {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.product img {
    max-width: 100px;
    margin-right: 10px;
}

footer {
    text-align: center;
    padding: 5px;
    background-color: #333;
    color: white;
    bottom: 0;
    margin-top: 378px;
}
.sidebar-btn {
    border-radius: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
